# VS folders
.vs/*

# Build folder
build/*

# Intermediate folders
projects/*/Debug/*
projects/*/Release/*
projects/*/x64/*


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information
*.pdb
*.ipdb
*.idb

# Logs
*.log
*.tlog

# Database
*.ilk
*.db
*.opendb
*.suo

!packages
!packages/*
!packages/*/*
!packages/*/*/*
!packages/*/*/*/*
!packages/*/*/*/*/*
!packages/*/*/*/*/*/*
!packages/*/*/*/*/*/*/*
!packages/*/*/*/*/*/*/*/*
!packages/*/*/*/*/*/*/*/*/*
!packages/*/*/*/*/*/*/*/*/*/*
!packages/*/*/*/*/*/*/*/*/*/*/*
!packages/*/*/*/*/*/*/*/*/*/*/*/*