.av-btn-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.av-btn {
    display: flex;
    flex-basis: 250px;
    margin: 25px 50px;
    height: 130px;
}

.av-st-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.av-status {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    min-height: 30px;
}

header {
    min-height: 40px;
}

main {
    flex: 1 0 auto;
}

/* draggable */
.av-btn-panel, .av-st-panel, header, footer {
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

li, button {
    -webkit-app-region: no-drag;
}

@media (min-width: 1101px) {
    .av-btn {
        display: flex;
        flex-basis: 250px;
        margin: 25px 50px;
        height: 130px;
    }
}

@media (max-width: 1100px) {
    .av-btn {
        display: flex;
        flex-basis: 175px;
        margin: 15px 20px;
        height: 120px;
    }
}

@media (max-width: 700px) {
    .av-btn {
        display: flex;
        flex-basis: 150px;
        margin: 10px 10px;
        height: 120px;
    }
}