.av-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.av-btn {
    display: flex;
    flex-basis: 250px;
    margin: 25px 50px;
    height: 130px;
}

.av-st-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.av-status {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    min-height: 30px;
}

header {
    min-height: 40px;
}

main {
    flex: 1 0 auto;
}